div(class="jumbotron")
  include appInfo

  h2 Description
  each note in notes
    tt=note
    br

  include appVariants

  h4 Please make sure this is the right app, select the right variants and then continue
  div(class="btn btn-primary", id="settingsSave") Add App
