h2 Variants/Channels
ul
  li
    input(id="automanaged", type="checkbox", checked=automanaged)
    span <b>Automanaged</b> will automatically pick best version
  each variant in variants
    li
      span
        input(id=variant.id, type="checkbox", checked=variant.enabled || (!id && variant.isLatest))
      if variant.isLatest
        span
          b
            include variant
      unless variant.isLatest
        span
          include variant
