h2 Variants/Channels
ul
  each variant in variants
    li
      span
        input(id=variant.id, type="checkbox", checked=variant.enabled || (!id && variant.isLatest))
      if variant.isLatest
        span
          b
            include variant
      unless variant.isLatest
        span
          include variant
