center
  div(class="jumbotron", style="max-width: 416px")
    i(class="fa fa-key fa-4x", style="margin: 6px")
    h1 Login
    form(id="loginForm", style="display: flex; flex-direction: row; justify-content: center;")
      input(type="password", placeholder="Password...", id="pwField", style="margin: 6px")
      input(type="submit", class="btn btn-primary", value="Login", style="margin: 6px")
