div(class="jumbotron")
  include appInfo

  h2(onclick='$("#hiddenDesc").show()') Description (click to show)
  div(style="display: none", id="hiddenDesc")
    each note in notes
      tt=note
      br

  include appVariants

  div(class="btn btn-primary", id="settingsSave") Save
  div(class="btn btn-danger", id="settingsDelete", style="float: right") Delete
